.clear-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    height: 3.6em;
    background: #ccc;
    color: #333;
    font-weight: bold;
    font-size: 1.4em;
    transition: all 0.2s linear;

    &:hover {
        background: #333;
        color: #ccc;
        transition: all 0.2s linear;
    }
}