.input {
    display: flex;
    height: 100px;
    width: 100%;
    background: #777;
    color: #fff;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 2em;
    align-items: center;
}